DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_URL=sqlite:///db.sqlite3

LANGUAGE_CODE=it
TIME_ZONE=Europe/Brussels

SITE_NAME=Simulatore Risarcimenti Studio Legale Badrane
SITE_DOMAIN=simulatore.studiolegalebadrane.it
PARENT_SITE_URL=https://international.studiolegalebadrane.it/

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1